# Ignore node_modules everywhere
node_modules/

# Ignore build files
dist/
dist-ssr/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Explicitly allow client and server
!shipping-company-client/
!shipping-company-server/
